#
# requirements.in - explicit python dependencies
#
# to update requirements.txt, run:
#
#    pip-compile requirements.in
#

notebook
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator

matplotlib
tqdm
